{% extends 'base.html.twig' %}

{% block title %}PixelMakers!{% endblock %}

{% block body %}



    <div id="cart-container">

    </div>



{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/displayCart.js') }}"></script>  <!-- Assuming you saved the above JS in a file named displayCart.js -->
{% endblock %}
