

<!--MEDIA QUERIES-->
<footer class="bg-dark text-white">
    <div class="container">
        <div class="row">

            <!-- Section: Links -->
            <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
                <h6 class="title-orange text-center">
                    <a class="navbar-brand" href="#"><img src="{{ asset('images/LogoCouleurExoNFT.png') }}" alt="Logo Pixel-Makers"></a>
                </h6>
                <p class="text-center">
                    "Unleash your creativity and turn your visual works into a revenue stream. Our platform gives you the power to set your prices, protect your copyrights, and connect with an audience ready to appreciate your talent. Join us today and start monetizing your art transparently and in compliance with French law."
                </p>
            </div>

                <!-- Grid column -->
                <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
                    <h6 class="title-orange text-center">Ours Creators</h6>
                    <p class="text-center">
                        <a class="text-white sub-sections">MDBootstrap</a>
                    </p>
                    <p class="text-center">
                        <a class="text-white sub-sections">MDWordPress</a>
                    </p>
                    <p class="text-center">
                        <a class="text-white sub-sections">BrandFlow</a>
                    </p>
                    <p class="text-center">
                        <a class="text-white sub-sections">Bootstrap Angular</a>
                    </p>
                </div>

            <!-- Grid column -->
            <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
                <h6 class="title-orange text-center">Trending NFTs</h6>
                <p class="text-center p-footer">
                    <a class="text-white sub-sections">Legislation and Copyright</a>
                </p>
                <p class="text-center">
                    <a class="text-white sub-sections">News NFTs</a>
                </p>
                <p class="text-center">
                    <a class="text-white sub-sections">Legislation and Copyright</a>
                </p>
                <p class="text-center">
                    <a class="text-white sub-sections">Open sea Plateformes NFT</a>
                </p>
            </div>

            <!-- Grid column -->
            <div class="col-md-12 col-lg-3 col-xl-3 mt-3">
                <h6 class="title-orange text-center">Contact</h6>
                <p class="text-center"><i class="fas fa-home mr-2 icons"></i> rue de Bordeaux, 33000, Bordeaux</p>
                <p class="text-center"><i class="fas fa-envelope mr-2"></i> pixelsmarkers@gmail.com</p>
                <p class="text-center"><i class="fas fa-phone mr-2"></i> + 05 57 89 63 01</p>
                <p class="text-center"><i class="fas fa-print mr-2"></i> + 06 95 74 81 31</p>
            </div>
        </div>
    </div>

    <div class="separation-line"> </div>

    <div class="d-flex justify-content-center justify-content-between">
        <div class="col-12 text-center mt-4">
            <a href="#"><i class="fab fa-instagram fa-2x" style="color: #ffa658;"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x ms-3 me-3" style="color: #ffa658;"></i></a>
            <a href="#"><i class="fab fa-facebook fa-2x" style="color: #ffa858;"></i></a>
        </div>
    </div>

    <!-- Section: Copyright -->
    <section class="py-3 text-center">
        <div class="p-3">
            © 2023
            <a class="title-orange ms-1" href="https://mdbootstrap.com/">| Pixel Makers</a>
        </div>
    </section>
    <!-- Section: Copyright -->
</footer>
