
<section class="hero">
    <div class="container-fluid">
        <div class="row custom-heroRow">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 custom-heroText">
                <div class="heroLogo"></div>
                <h1>The Image and NFT platform</h1>
                <h5>Avec Pixel Makers, explorez un monde d'art visuel numérique.
                    Rejoignez notre communauté pour découvrir et collectionner des NFT uniques</h5>
                <div class="buttonsContainer">
                        <button class="btn btn-primary custom-logIn" type="button">Log In</button>
                        <button class="btn btn-primary custom-signUp" type="button">Sign Up</button>
                </div>
                <div class="arrowContainer"><svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                    </svg></div>
            </div>
        </div>
    </div>
</section>