
<section class="bgimage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span class="heroLogo"></span>
                <h1>The Image and NFT platform</h1>
                <h5>"Avec Pixel Makers, explorez un monde d'art visuel numérique.
                    Rejoignez notre communauté pour découvrir et collectionner des NFT uniques."</h5>
            </div>
            <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <span>
                            <button class="btn btn-primary p-signUp" type="button">Log In</button>                </li>
                        </span>
                        <span>
                            <button class="btn btn-primary p-signUp" type="button">Sign Up</button>                </li>
                        </span>
                    </div>
            </div>
        </div>
    </div>
</section>