
<section class="hero">
    <div class="container-fluid">
        <div class="row custom-heroRow">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 custom-heroText">
                <span class="heroLogo"></span>
                <h1>The Image and NFT platform</h1>
                <h5>Avec Pixel Makers, explorez un monde d'art visuel numérique.
                    Rejoignez notre communauté pour découvrir et collectionner des NFT uniques</h5>
                <div class="buttonsContainer">
                        <span>
                            <button class="btn btn-primary p-signUp" type="button">Log In</button>                </li>
                        </span>
                    <span>
                            <button class="btn btn-primary p-signUp" type="button">Sign Up</button>                </li>
                        </span>
                </div>
            </div>

        </div>
    </div>
</section>