* body {
    margin: 0;
}
footer {
    background-color: #20354A;
    color: white;
    padding-top: 50px;
}

.title-orange {
    color: #ffa658;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.8px;
}

/* Logo footer */
.navbar-brand img {
    width: 60%;
}
/* Les icons social media */
.icons {
    color: #ffa658;
    width: 45px;
    height: auto;
}
.icons:hover {
    color:  #47B7CD;
}

/*paragraph du footer*/
.p-footer {
    margin-top: 1px;
    margin-bottom: 1rem;
}

/* sub-items */
.linkFooter {
    color: #FFFFFF;
    text-decoration: none;
}

.linkFooter:hover{
    color:  #47B7CD;
}
body > footer > section > div > p > a:hover{
    color:  #47B7CD;
}

.copyright {
    background-color: #20354A;
}

.separation-line {
    background: rgb(0,48,73);
    background: linear-gradient(90deg, rgba(0,48,73,1) 0%, rgba(255,158,86,1) 50%, rgba(181,21,193,1) 100%);
    height: 2px;
    margin-top: 25px;
}
.fa-brands {
    width: 45px;
    height: 45px;
    margin: 25px 20px 25px 20px;
}

.baseline{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

/* Padding for the second column to homogenise the footer columns */

.col-md-12.col-lg-3.col-xl-3.mt-3:nth-child(2) {
    padding-right: 5rem;
}