/*Pierre's changes to the navbar*/
.navbar{
    background-color: #003049;
    height: 90px;
    border-bottom: solid 2px #679EB2;
}
.custom-container{
    background-color: rgba(0, 48, 73, 0.7);
    border-radius: 5px;
    padding: 10px;
    align-items: center;
}
.navbar-brand img{
    width: 100%;
}
.navbar-nav .nav-link.active{
    color: #FF9E56;!important;
}
.navbar-nav .nav-link {
    color: #FFFFFF;!important;
    font-family: 'Roboto', sans-serif;
}

.nav-item a:hover{
    color:  #47B7CD;!important;

}

/*Changes to the behaviour of the responsive navbar*/
.navbar-collapse{
    flex-grow: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='coral' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler{
    border: 2px solid #FF9E56;
    padding: 6px;
}
.navbar-toggler:focus{
    box-shadow: none;
}
#navbarSupportedContent > ul {
    align-items: end;
    margin: 15px 10px 0 0;
}
#navbarSupportedContent > ul >li{
    margin-top: 10px;
}

@media  screen and (max-width: 770px){
    .custom-signUp{
        margin: 0;
    }
}